@import "tailwindcss";

.active {
  text-decoration: underline;
}

button {
  border: 1px solid;
  padding: 0.5rem 1rem;
  border-radius: 7px;
  cursor: pointer;
}

input{
  border: 1px solid;
  padding: 0.5rem 1rem;
  border-radius: 7px;
}

.error {
  border: 1px solid red;
}